@import "../../../../index.scss";

.backBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 10px;
  padding-left: 2px;
}

.title {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
  color: $secondary-color-dark;
}
