@import "../../../index.scss";

.container {
  display: flex;
  flex-direction: row;
  width: $content-width;
  height: 430px;
  background-color: #ffffff;
  border-radius: 72px 24px 24px 24px;
  box-shadow: 0px 16px 72px #22272f0d;
  cursor: pointer;
}

.image {
  width: 430px;
  height: 430px;
  border-radius: 72px 0 72px 0;
  object-fit: cover;
}

.imgBlock {
  position: relative;
}

.login {
  position: absolute;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: $primary-color;
  background-color: #ffffff;
  padding: 2px 17px;
  border-radius: 0 6px 6px 0;
  bottom: 38px;
}

.recipeInfo {
  display: flex;
  flex-direction: column;
  padding: 36px 30px 65px 49px;
  width: 100%;
}

.popularInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  gap: 37px;
}

.tagsBox {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    opacity: 0.2;
    z-index: 0;
    border-radius: 5px;
  }

  .tagName {
    max-width: 150px;
    font-family: $primary-font;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #f29e1f;
    padding: 0px 5px;
  }
}

.actionBtnBox {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.actionBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: $primary-font;
  font-weight: 600;
  font-size: 18px;
  color: $primary-color;
  border: solid 1px;
  border-color: $primary-color;
  border-radius: 16px;
  min-width: 107px;
  height: 50px;
}

.recipeMainInfo {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  gap: 16px;
}

.recipeName {
  max-width: 700px;
  font-family: $primary-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.recipeDescription {
  max-width: 571px;
  height: 120px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.recipeSecondaryInfo {
  display: flex;
  flex-direction: row;
  gap: 70px;
  padding-top: 18px;
  padding-bottom: 65px;
}

.secInfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.secInfoText {
  display: flex;
  flex-direction: column;
}

.secInfoTitle {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  opacity: 50%;
}

.secInfoData {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
