@import "../../../index.scss";

.container {
  width: $content-width;
  margin: 127px auto 106px;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 52px;
  color: $secondary-color-dark;
}

.recipeMainInfoBlock {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 40px;
  width: $content-width;
  height: 430px;
  background-color: #ffffff;
  border-radius: 72px 24px 24px 24px;
  box-shadow: 0px 16px 72px #22272f0d;
  justify-content: space-between;
}

.recipeSecondaryInfoBlock {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
