@import "../../../index.scss";

.tagEditor {
  position: relative;
  width: 100%;
  height: 50px;
}

.tagInput {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $secondary-color;
  padding: 11px 24px;
  border: none;
  background-color: transparent;
}

.tagInput:focus {
  outline: none;
  outline-offset: 0;
}

.selectedTags {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
  max-width: 300px;
  padding: 0px 24px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $secondary-color;
  border-right: solid 1px #dddddd;
  overflow-x: overlay;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
}

.selectedTag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #4a525a;
  white-space: nowrap;
  padding: 2px 8px;
  border-radius: 16px;
  background-color: #fdb100;
}

.removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.removeIcon {
  padding-top: 2px;
  width: 12px;
  height: 12px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
  overflow-x: auto;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $secondary-color;
  background-color: #ffffff;
  padding: 0 24px;
  border: solid 1px $secondary-color-light;
  border-radius: 16px;
  z-index: 1;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
}

.dropdownOption:hover {
  cursor: pointer;
  opacity: 0.8;
}

.inputBox {
  display: flex;
  flex-direction: row;

  border: solid 1px;
  border-color: $secondary-color-light;
  border-radius: 16px;
}
