@import "../../../../index.scss";

.titleBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 52px;
}

.recipeName {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 62px;
}

.actionBtnsBox {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.deleteBtn {
  border-radius: 16px;
  border: solid 1px;
  border-color: $secondary-color-light;
  width: 60px;
  height: 60px;
}

.deleteBtn:hover {
  background-color: #f80000;
}

.p18 {
  padding: 17px;
}
