@import "../../../../index.scss";

.ingredientBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 395px;
}

.ingredientBlockTitle {
  font-family: $primary-font;
  font-weight: 700;
  font-size: 20px;
  color: $primary-color;
  line-height: 30px;
}

.ingredientBlockContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredientInfo {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.ingredientTitle {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 18px;
  color: #4a525a;
  line-height: 30px;
}

.ingredientDescription {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 18px;
  color: #4a525a;
  line-height: 30px;
}

.notFoundText {
  font-family: $primary-font;
  font-weight: 600;
  font-size: 20px;
  color: #4a525a;
  line-height: 30px;
  width: 100%;
  text-align: center;
}
