@import "./index.scss";

.app {
  display: flex;
  flex-direction: column;
  background-color: $background-color;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.container {
  max-width: $content-width;
}
